DATABASE_URL=postgresql://postgres:postgres@localhost:5432/socceroctupus
CLERK_SECRET_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_JWKS_URL=
CLERK_WEBHOOK_SECRET=
FRONTEND_ORIGIN=http://localhost:3001
PORT=5002
DEBUG=false
